<!DOCTYPE html>
<html ng-app="myApp"  lang="en">
<head>
  <title>Links Hub</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="jquery.min.js"></script>
  <script src="bootstrap.min.js"></script>
  <script src="angular.min.js"></script>
   
  <script src="app.js"></script>
</head>
<body >

 
  
<div  ng-controller="myCtrl" class="container">
  <h2>Banks </h2>
  <button ng-click="launchSBI()" type="button" class="btn btn-primary">State Bank of India</button>
  <button ng-click="launchICICI()" type="button" class="btn btn-success">ICICI</button>
  <button ng-click="launchIOB()" type="button" class="btn btn-info">Indian Overseas Bank</button>
  <button type="button" class="btn btn-warning">Bank of America</button>
  <button type="button" class="btn btn-danger">BECU</button>
  
    <h2>Mail</h2>
 	 <button type="button" class="btn btn-primary">Outlook Web</button>
 	 <button type="button" class="btn btn-primary">Gmail</button>
 	 
 <h2>Money Transfer</h2>
 	 <button type="button" class="btn btn-primary">XOOM</button>
  	<button type="button" class="btn btn-success">Exchange Rate</button>

</div>

</body>
</html>

